.about-me-container {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/starBG.png');
    animation: fade 1.5s linear;
}

.about-me-container h1 {
    position: relative;
    top: 5vh;
    font-family: Starwars;
    color: white;
    text-shadow: 0 0 0.5em white;
    text-align: center;
    font-size: 2vw;
}

.about-me-container img {
    position: relative;
    top: -15vh;
    transform: scale(0.3);
    border: 0.2em solid rgb(233, 198, 45);
    border-radius: 50%;
    background: rgb(233, 198, 45);
}

.about-text {
    position: relative;
    top: -35vh;
}

.about-text h2 {
    font-size: 1.5rem;
    font-family: Audiowide;
}

.about-text p {
    font-family: Audiowide;
    line-height: 1.5;
    font-size: 1.2em;
    margin-left: 3em;
    margin-right: 3em;
}

@media (orientation: landscape) and (min-width: 1150px){

    .about-me-container img {
        top: -8vh;
        transform: scale(0.4);
    }
    
    .about-text {
        top: -20vh;
    }
    
    .about-text h2 {
        font-size: 2rem;
    }
    
    .about-text p {
        line-height: 1.5;
        font-size: 1.5em;
        margin-left: 4em;
        margin-right: 4em;
    }
}
@media (orientation: landscape) and (min-width: 1450px){
    .about-me-container img {
        top: 2vh;
        transform: scale(0.5);
    }
    
    .about-text {
        top: 1vh;
    }
    
    .about-text h2 {
        font-size: 2rem;
    }
    
    .about-text p {
        line-height: 1.5;
        font-size: 1.6em;
        margin-left: 4em;
        margin-right: 4em;
    }
}