@font-face {
    font-family: AudioWide;
    src: url('../fonts/Audiowide-Regular.ttf');
}

.project-container1, .project-container2, .project-container3, .project-container4{
    width: 100%;
    height: 100vh;
    background-image: url('../images/starBG.png');
    font-family: 'AudioWide';
    animation: fade 1s ease-out;
}
.project-container1{
    color: rgb(0, 153, 255);
}
.project-container2{
    color: orange;
}
.project-container3{
    color: rgb(4, 199, 4);
}
.project-container4{
    color: rgb(182, 6, 226);
}
.project-title{
    position: relative;
    top: 8vh;
    text-align: center;
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 0.5em white;
}

.text-container{
    position: absolute;
    top: 70vh;
    left: 27.5%;
    width: 45%;
    height: 25vh;
    text-align: center;
    font-size: 2rem;
    line-height: 1.7;
}

.netlify-button-weather, .netlify-button-universe{
    position: absolute;
    width: 7em;
    height: 7em;
    top: 35vh;
    background: transparent;
    color: red;
    padding: 0.5em 0.6em 0.5em 0.6em;
    font-size: 1.5rem;
    border: 0.2em solid red;
    box-shadow: 0 0 0.5em red, inset 0 0 0.5em red;
    text-shadow: 0 0 0.8em red;
    border-radius: 50%;
    cursor: pointer;
}
.netlify-button-weather{
    left: 60%;
}
.netlify-button-universe{
    left: 80%;
}
.netlify-button-weather:hover, .netlify-button-universe:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.tempera1, .tempera2, .tempera3, .tempera4, .pika1, .pika2, .pika3, .pika4, .weather-app, .universe {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.pika1 {
    background-image: url('../images/pickachew1.jpg');
    z-index: 3;
    animation: carousel1 10s infinite;
}

.pika2 {
    background-image: url('../images/pickachew2.jpg');
    z-index: 2;
    animation: carousel2 10s infinite;
}

.pika3 {
    background-image: url('../images/pickachew3.jpg');
    z-index: 1;
    animation: carousel3 10s infinite;
}

.pika4 {
    background-image: url('../images/pickachew4.jpg');
    z-index: 1;
    animation: carousel4 10s infinite;
}

.tempera1 {
    background-image: url('../images/hackathon1.jpg');
    z-index: 3;
    animation: carousel1 10s infinite;
}

.tempera2 {
    background-image: url('../images/hackathon2.jpg');
    z-index: 2;
    animation: carousel2 10s infinite;
}

.tempera3 {
    background-image: url('../images/hackathon3.jpg');
    z-index: 1;
    animation: carousel3 10s infinite;
}

.tempera4 {
    background-image: url('../images/hackathon4.jpg');
    z-index: 1;
    animation: carousel4 10s infinite;
}

.weather-app{
    background-image: url('../images/weather.jpg');
}

.universe{
    background-image: url('../images/wildUniverse.jpg');
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* ////////////////// KEYFRAMES CAROUSEL ///////////////////////////*/

@keyframes carousel1 {
    0%, 10%, 20%, 100% {
        opacity: 1
    }
    21%, 90% {
        opacity: 0;
        z-index: -1;
    }
    91% {
        opacity: 0.5
    }
    100% {
        z-index: 3;
    }
}

@keyframes carousel2 {
    0%, 10%, 100% {
        opacity: 0
    }
    21%, 41% {
        opacity: 1
    }
    51% {
        opacity: 0;
        z-index: 0
    }
}

@keyframes carousel3 {
    0%, 40%, 100% {
        opacity: 0
    }
    41%, 51%, 60% {
        opacity: 1
    }
    61% {
        opacity: 0;
        z-index: 0
    }
}

@keyframes carousel4 {
    0%, 56%, 100% {
        opacity: 0
    }
    60% {
        opacity: 1;
        z-index: 3
    }
    80%, 90% {
        opacity: 1
    }
}