.navBar{
    width: 100%;
    height: 6vh;
    position: fixed;
    top:0;
    left:0;
    font-family: Starwars;
    z-index: 100;
}
#initials{
    position: fixed;
    top: -1vh;
    left:1vw;
    font-size: 2vw;
    color: rgb(233, 198, 45);
    text-shadow: none;
}
ul{
    position: fixed;
    top:0;
    right:0;
    margin-top: 0;
    list-style: none;
    
}
li{
    display: inline;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.05em 0.3em 0.09em 0.3em;
    cursor: pointer;
    font-size: 1.5vw;
}

li:hover{
font-family: Starwars2;
}


.nav-project-list{
    position: fixed;
    top: 5vh;
    right: 9vw;
    text-align: center;
    width: 10vw;
    color: black;
    background: rgb(233, 198, 45);
    font-family: Audiowide;
    border-radius: 0.7em;
}